.advantages {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;

  &__banner {
    height: 389px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  &__reasons {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
  &__list {
    list-style:none;
    margin: 0;
    padding: 0;
  }
  &__number,
  &__description {
    color:#333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  &__item {
    background-color: #eeeeee;
  }

  &__description-first-reason,
  &__description-second-reason {
    background-color: #81b3d2;
    color: #ffffff;
  }
  &__number--first-reason,
  &__description--first-reason,
  &__number--second-reason,
  &__description--second-reason {
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    width: 768px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .advantages__banner,
  .advantages__heading,
  .advantages__reasons {
    width: 768px;
  }
 .advantages__item--first-reason,
 .advantages__item--second-reason,
 .features {
  display: flex;
  flex-wrap: wrap;
 }
 .advantages__description-first-reason,
 .advantages__description-second-reason {
  width: 256px;
  min-height: 256px;
 }
 .advantages__image {
  width: 512px;
  min-height: 256px;
 }
 .features__item,
 .advantages__item-without-photo {
  width: 250px;
 }
.advantages__item--second-reason {
  flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {

  .advantages__list {
   width: 1200px;
  }
  .advantages__banner,
  .advantages__heading,
  .advantages__reasons {
    width: 1200px;
  }
  .advantages__description-first-reason,
  .advantages__description-second-reason {
  width: 400px;
 }
 .advantages__image {
  width: 800px;
 }
 .features__item,
 .advantages__item-without-photo {
  width: 400px;
 }
}


