@import "../variables";

.banner {
  width: 320px;
  margin: 0 auto;
  position: relative;
  &__image {
    margin: 0 auto;
    height: 158px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 60% 70%;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
  &__text {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-115px);
  }
}

@media (min-width: @tablet-width) {
  .banner {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 57px;
    &__image {
      margin: 0 auto;
      height: 290px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
      background-position: 50% 100%, 0% 100%;
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }
    &__text {
      z-index: 1;
      width: 458px;
      height: 78px;
      top: 95px;
      transform: translateX(-229px);
    }
  }
}

@media (min-width: @desktop-width) {
  .banner {
    width: 1200px;
    margin-bottom: 90px;
  }
  .banner__image {
    height: 303px;
    margin: 0 auto;
    background-size: 1200px auto;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 100%, 0% 100%;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
  .banner__text {
    top: 105px;
    z-index: 1;
  }
}

