@import "../variables";

.banner {
  &__image {
    height: 389px;
    width: auto;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding: 24px 30px;
    padding-bottom: 6px;
  }
  &__description {
    font-size: 14px;
    padding: 6px 30px;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    margin-bottom: 44px;
  }
  .banner__image {
    height: 520px;
    width: auto;
  }
  .banner__title {
    font-size: 21px;
    padding: 24px 160px;
    padding-top: 26px;
    padding-bottom: 10px;
  }
  .banner__description {
    padding-top: 0px;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    margin-bottom: 44px;
  }
  .banner__image {
    height: 520px;
  }
  .banner__title {
    font-size: 21px;
    padding: 24px 380px;
    padding-top: 26px;
    padding-bottom: 10px;
  }
  .banner__description {
    padding-top: 0px;
  }
}
