@import "../variables";

.banner {
  &__image--photo {
    margin: 0 auto;
    height: 389px;
    width: auto;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
}
  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  &__title--photo {
    display: block;
    padding-top: 22px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  &__description--photo {
    padding: 0 25px;
    padding-bottom: 33px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
 banner {
    margin-bottom: 44px;
  }
  .banner__image {
    height: 520px;
    width: auto;
  }
  .banner__title {
    font-size: 30px;
    padding: 24px 160px;
    padding-top: 26px;
    padding-bottom: 10px;
  }

  .banner__description {
    padding-top: 0px;
  }
  .banner__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .banner__title--photo {
    padding: 0 160px;
    padding-top: 48px;
    padding-bottom: 4px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  .banner__description--photo {
    padding: 0 165px;
    padding-bottom: 53px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: @desktop-width) {
  .banner {
    margin-bottom: 44px;
  }
  .banner__image {
    height: 520px;
  }
  .banner__title {
    font-size: 21px;
    padding: 24px 380px;
    padding-top: 26px;
    padding-bottom: 10px;
  }
  .banner__description {
    padding-top: 0px;
  }
  .banner__image--photo {
    width: 1200px;
    margin-bottom: 62px;
  }
  .banner__title--photo {
    padding: 0 160px;
    padding-top: 48px;
    padding-bottom: 4px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  .banner__description--photo {
    padding: 0 165px;
    padding-bottom: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

