
@import "../variables";

.button-form {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.button-form__required {
  display: none;
}

@media (min-width: @tablet-width) {
  .button-form {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 67px;
  }
  .button-form__wrapper {
    width: 648px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .button-form__required {
    display: block;
    width: 170px;
    font-size: 14px;
    line-height: 26px;
    padding-top: 18px;
    margin-right: -4px;
  }
}

@media (min-width: @desktop-width) {
  .button-form {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .button-form__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
}
