
@import "../variables";

.contacts {
  position: relative;
  font-weight: 700;
  background-color: #ffffff;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    left: center;
    top: -17px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    transform: translateX(-160px);
  }
}
.contacts__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.contacts__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: -19px;
  margin-bottom: 6px;
}
.contacts__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: -3px;
}
.contacts__field {
  font-size: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  width: auto;
  padding: 15px;
  padding-left: 17px;
  border: 4px solid #f2f2f2;
  height: 20px;
}
.contacts__item::before {
  content: "";
  position: absolute;
  left: 223px;
  top: 47px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contacts__item--email::before {
  background-image: url("../img/icon-mail.svg");
}
.contacts__field:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}
.contacts__field:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}
.contacts__text {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  width: auto;
  text-align: left;
  padding-top: 14px;
  padding-left: 23px;
  padding-bottom: 8px;
}
.contacts__field::placeholder {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 648px;
    margin-bottom: 55px;
    &::before {
      right: -220px;
      top: 5px;
      width: 125px;
      height: 1px;
    }
  }
  .contacts__title {
    font-size: 21px;
    margin-top: -8px;
    margin-bottom: 4px;
  }
  .contacts__wrapper {
    width: 648px;
    padding: 0 60px;
    margin: 0 auto;
  }
  .contacts__item {
    width: 648px;
  }
  .contacts__item::before {
    left: 589px;
    top: 58px;
  }
  .contacts__item--tel::before {
    top: 53px;
  }
  .contacts__text {
    text-align: left;
    padding-top: 19px;
    &--email {
      padding-top: 23px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 55px;
    &::before {
      left: 843px;
      top: 12px;
      width: 280px;
    }
  }
  .contacts__item::before {
    left: 429px;
    top: 0px;
  }
  .contacts__item--tel::before {
    left: 339px;
    top: 0px;
  }
  .contacts__wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__item {
    width: 488px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .contacts__item--tel {
    width: 400px;
  }
  .contacts__title {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 74px;
  }
  .contacts__field {
    width: 277px;
    flex-grow: 1;
    &--email {
      width: 264px;
    }
  }
  .contacts__text {
    width: 72px;
    flex-grow: 1;
    padding-left:0px;
    padding-right: 10px;
  }
  .contacts__text--email {
    width: 160px;
    padding-left: 8px;
    margin-top: -5px;
    box-sizing: border-box;
    flex-grow: 1;
  }
  .contacts__hidden {
    display: none;
  }
  .contacts__item--tel::before {
    left: 343px;
  }
}
