@import "../variables";


.copyright {
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.copyright__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-right: 39px;
  box-sizing: border-box;
}
.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  position: absolute;
  left: 115px;
  bottom: -5px;
}
.copyright__link--photo {
  left: 112px;
  bottom: -6px;
}
.copyright__link:hover {
  fill: #81b3d2;
}
.copyright__link:active {
  fill: #b2b2b2;
}
.copyright__text--form {
  padding-right: 43px;
}
.copyright__link--form {
  left: 111px;
  bottom: -5px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: -14px;
    margin-left: 106px;
  }
  .copyright__text--index {
    padding-right: 35px;
  }
  .copyright__link--index {
    left: 115px;
    bottom: -5px;
  }
  .copyright__text--photo {
    padding-right: 34px;
  }
  .copyright__link--photo {
    left: 116px;
    bottom: -4px;
  }
  .copyright__text--form {
    padding-right: 36px;
  }
  .copyright__link--form {
    left: 116px;
    bottom: -5px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: -12px;
    margin-left: 345px;
  }
  .copyright__text {
    padding-right: 46px;
  }
  .copyright__link {
    left: 110px;
    bottom: -3px;
  }
  .copyright__link--photo {
    left: 110px;
    bottom: -5px;
  }
}
