
@import "../variables";

.features {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
  }
  &__item--apartment::before,
  &__item--souvenirs::before,
  &__item--food::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 37px;
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__item--apartment::before {
    background-image: url("../../img/icon-house.svg");
  }
  &__item--souvenirs::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &__item--food::before {
    background-image: url("../../img/icon-burger.svg");
  }

  &__item:last-child {
    padding-bottom: 7px;
  }

  &__title {
    padding: 38px 40px 0px 70px;
    font-weight: 700;
    text-align: left;
    font-size: 18px;
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    padding: 0px 40px 0px 70px;
    text-align: left;
    margin-top: -5px;
  }
  &__title--souvenirs {
    margin-top: -24px;
  }
  &__title--food {
    margin-top: -24px;
  }
}

@media (min-width: @tablet-width) {
    .features .container {
    display: flex;
    width: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    min-height: 330px;
   }

.features__item {
      width: 256px;
      min-height: 330px;
      flex-grow: 1;
    }
.features__title {
  font-size: 21px;
  line-height: 26px;
}
.features__item--apartment {
  order: 0;
}
.features__item--souvenirs {
  order: 2;
  margin-top: 0;
}
.features__item--food {
  order: 1;
  margin-top: 0;
}
}
@media (min-width: @desktop-width) {
  .features {
    min-height: 330px;
   }

.features__item {
      width: 400px;
      min-height: 330px;
    }
.features__title {

}
.features__item--apartment {

}
.features__item--souvenirs {
}
.features__item--food {
}
}
