@import "../variables";


@media (min-width: @tablet-width) {
  .feedback {
  display: flex;
  flex-wrap: wrap;
  width: 768px;
  margin: 0 auto;
  }

  .feedback__name {
    width: 300px
  }
  .feedback__contacts {
    width: 648px;
  }

  .feedback__radio {
    width: 300px;
    order: -1;
  }

  .feedback__checkbox {
    width: 450px;
  }

  .feedback__response {
   width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
  width: 1200px;
  }

  .feedback__name {
    width: 350px
  }
  .feedback__contacts {
    width: 960px;
  }

  .feedback__radio {
    width: 350px;
    order: -1;
  }

  .feedback__checkbox {
    width: 960px;
  }

  .feedback__response {
   width: 960px;
  }
}

