@import "../variables";

.index-banner {
    width: 320px;
    margin: 0 auto;
  &__image {
    margin: 0 auto;
    height: 390px;
    margin-bottom: 38px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
}

}

@media (min-width: @tablet-width) {
 .index-banner {
  width: 768px;
  margin: 0 auto;
  margin-bottom: 30px;
  &__image {
    margin: 0 auto;
    height: 520px;
    background-size: cover;
}
}
}
@media (min-width: @desktop-width) {
  .index-banner {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 28px;
  }
  }

