@import "../variables";

.index-slogan {
  width: 320px;
  margin: 0 auto;
}
.index-slogan__wrapper {
  width: 320px;
  margin: 0 auto;
}
.index-slogan__title {
  display: block;
  padding: 0px 30px 12px 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
.index-slogan__description {
  padding: 0 24px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .index-slogan {
    width: 768px;
  }
  .index-slogan__wrapper {
    width: 525px;
  }
  .index-slogan__title {
    padding: 22px 25px 10px 25px;
    font-size: 21px;
  }
  .index-slogan__description {
    padding: 0 5px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .index-slogan__title {
    padding: 25px 25px 10px 25px;
  }
}
