.interest {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;

  &__title {
    display: block;
    margin-top: 26px;
    font-size:21px;
    font-weight: 700;
    line-height: 26px;
  }

  &__description {
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    padding: 0 25px;
    padding-bottom: 23px;
  }
  &__button {
    background-color: #81b3d2;
    border:none;
    margin-bottom: 48px;
  }
  a {
    display: block;
    text-decoration:none;
    color: #ffffff;
    padding: 16px 41px;
  }
}

@media (min-width: @tablet-width){
  .interest__title,
  .interest__description {
    width: 768px;
    margin: 0 auto;
    }
  .interest__button {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width){
  .interest__title,
  .interest__description {
  width: 1200px;
  }
}
