@import "../variables";


.main-photo {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.main-photo__item {
  width: 320px;
  margin: 0 auto;
}
.main-photo::before {
  content: "";
  position: absolute;
  left: center;
  top: -22px;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  transform: translateX(-160px);
}
.main-photo__image {
  width: 280px;
  height: 280px;
}
.main-photo__description {
  padding: 0 20px;
}
.main-photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
.main-photo__author {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: #333333;
  margin-top: -14px;
}
.main-photo__like {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: -5px;
  padding-left: 55px;
  padding-bottom: 25px;
  font-weight: 700;
}
.main-photo__icon-like {
  position: absolute;
  fill: #b2b2b2;
  top: 0px;
  left: 20px;
}


@media (min-width: @tablet-width) {
  .main-photo__item {
    width: 648px;
    margin: 0 auto;
  }
  .main-photo::before {
    display: none;
  }
  .main-photo__image {
    width: 648px;
    height: 400px;
    margin-bottom: -6px;
  }
  .main-photo__legend {
    width: auto;
    display: flex;
    background-color: #f2f2f2;
    height: 80px;
  }
  .main-photo__description {
    padding: 3px 0 0 20px;
    width: 200px;
    flex-grow: 1;
  }
  .main-photo__like {
    width: 100px;
    flex-grow: 1;
    margin-top: 28px;
    padding-right: 20px;
    text-align: right;
  }
  .main-photo__icon-like{
    top: 0px;
    left: 220px;
  }
}

@media (min-width: @desktop-width) {
  .main-photo__item {
    width: 1200px;
    position: relative;
  }
  .main-photo__image {
    width: 1200px;
    margin-bottom: -6px;
  }
  .main-photo__legend {
    width: 1200px;
    position: absolute;
    bottom: 0;
    background-color: rgba(178, 178, 178, 0.3);
    color: #ffffff;
  }
  .main-photo__author {
    color: #ffffff;
  }
  .main-photo__icon-like{
    fill: #ffffff;
    top: 0px;
    left: 490px;
  }
}
