@tablet-width: 768px;
@desktop-width: 1200px;

.page-footer {
min-height: 243px;

  &__wrapper {
    width: 150px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
   width:auto;
   min-height: 120px;
  }
  .page-footer__wrapper {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__hashtag {
    align-self: center;
  }
  .page-footer__social {
    align-self: center;
  }
  .page-footer__copyright {
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: auto;
  }
}
