.page-footer {
min-height: 243px;

  &__wrapper {
    width: 150px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .footer-wrapper {
    display: flex;
    width: 768px;
    justify-content: space-between;
  }
  .social__list {
    display: flex;
    width: 120px;
  }
}

@media (min-width: @desktop-width) {
  .footer-wrapper {
    width: 1200px;
  }
}
