.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    height: 56px;
    text-align: center;
 }
}
@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
  }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
  }

}




