@import "../variables";

.response {
  position: relative;
  background-color: #ffffff;
  font-weight: 700;
  margin-bottom: 43px;
  &::before {
    content: "";
    position: absolute;
    left: center;
    top: -19px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    transform: translateX(-160px);
  }
}
.response__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.response__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 48px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.response__text {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  border: none;
  width: 255px;
  font-weight: 700;
  padding: 15px 5px 15px 20px;
  min-height: 120px;
}
.response__text::placeholder {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .response {
    &::before {
      left: 220px;
      top: 60px;
      width: 125px;
      height: 1px;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #e5e5e5;
      left: 580px;
      top: 60px;
      width: 125px;
      height: 1px;
    }
  }
  .response__wrapper {
    width: 648px;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .response__text {
    width: 623px;
    min-height: 120px;
  }
  .response__title {
    font-size: 21px;
    margin-bottom: 56px;
  }
}


@media (min-width: @desktop-width) {
  .response {
    width: 960px;
    margin: 0 auto;
    &::before{
      left: 160px;
      top: 60px;
      width: 280px;
    }
    &::after{
      left: 680px;
      top: 60px;
      width: 280px;
    }
  }
  .response__wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 52px;
  }
  .response__text {
    width: 935px;
    min-height: 120px;
  }
  .response__title {
    margin-bottom: 58px;
    min-height: 0;
  }
}
