@import "../variables";

.site-list-1 {

  background-color: #81b3d2;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 9px 20px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    text-align: center;
  }

  a[href] {
    &:hover {
      background-color: #669ec0;
      border-top-color: #86b2cd;
   }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5496bd;
      border-top-color: #77acca;
  }
}
}
@media (min-width: @tablet-width) {
  .site-list-1 {
    display: flex;
    width: 308px;
    background-color: #ffffff;
    margin-left: 29px;
  }

  .site-list-1__item a {
    color: #000000;
    font-size: 14px;
    border: none;
  }

  .site-list-1__item:last-child {
    margin-left: 37px;
  }
}
@media (min-width: @desktop-width) {
  .site-list-1 {
    width: 480px;
    margin-left: 71px;
  }

  .site-list-1__item:last-child {
    margin-left: 120px;
    }
}
