@import "../variables";

.video {
  &__wrapper {
    width: 320px;
    margin: 0 auto;
    }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 7px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 25px;
    padding-top: 11px;
    padding-bottom: 21px;
  }

  &__image {
    padding-bottom: 107px;
  }
}

@media (min-width: @tablet-width) {
  .video {
  &__wrapper {
    width: 768px;
    margin: 0 auto;
    }

  &__title {
    font-size: 30px;
    line-height: 30px;
    padding-top: 7px;
    margin-top: 60px;
  }

  &__description {
    padding: 0 175px;
    padding-bottom: 14px;
  }

  &__image {
    width: 648px;
    height: 500px;
    padding-bottom: 107px;
  }
  }
}

@media (min-width: @desktop-width) {
    .video {
  &__wrapper {
    width: 800px;
    margin: 0 auto;
    }

  &__image {
    width: 800px;
  }
  }
}


