.video {
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 7px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 25px;
    padding-top: 11px;
    padding-bottom: 21px;
  }

  &__image {
    padding-bottom: 107px;
  }

}

@media (min-width: @tablet-width) {
  .video__title,
  .video__description {
    width: 450px;
    margin: 0 auto;
  }

  .video__image {
    width: 648px;
    min-height: 500px;
  }
}

@media (min-width: @desktop-width) {
  .video__title,
  .video__description {
    width: 480px;
  }
  .video__image {
    width: 800px;
    min-height: 500px;
  }
}
